*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav bar  */

body{
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color:bisque;
}
.nav-area{
    float: right;
    list-style: none;
}
.nav-area li{
    display: inline-block;
    text-transform: uppercase;
    box-sizing: border-box;

}
.nav-area a{
    text-decoration: none;
    color:red;
    padding: 20px 10px;
}
#btn-login{
    text-transform: uppercase;
    background-color: rgb(150, 103, 103);
    box-sizing: border-box;
    border-radius: 10px;
    color: aqua;
    padding: 5px;
}
.active {
    background-color: rgb(219, 126, 126);
    color: aliceblue;
  }


  /* Body */

  .body-container{
      display: flex;
      height: auto;
      width:1350px;
      margin: 10px;
      border: 5px solid red;
     

  }
  .tradingview-container{
      float: left;
  }
.start-btn{
height: 410px;    
border: 2px solid blue;
display: inline-flexbox;

}
.button-btn{
    border: 1px solid red;
}