*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav bar  */

body{
    background-color: rgba(221, 223, 196, 0.438);
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color:bisque;
}
.nav-area{
    float: right;
    list-style: none;
}
.nav-area li{
    display: inline-block;
    text-transform: uppercase;
    box-sizing: border-box;

}
.nav-area a{
    text-decoration: none;
    color:red;
    padding: 20px 10px;
}
#btn-login{
    text-transform: uppercase;
    background-color: rgb(150, 103, 103);
    box-sizing: border-box;
    border-radius: 10px;
    color: aqua;
    padding: 5px;
}
.active {
    background-color: rgb(219, 126, 126);
    color: aliceblue;
  }


  /* Body */

  .body-container{
      display: flex;
      height: auto;
      margin: 10px;
      gap: 10px;
      
      /* border: 5px solid red; */
     

  }
  .tradingview-container{
      float: left;
  }
.start-btn{
    height: 410px;    
    border: 2px solid rgb(150, 103, 103);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 2px;


}
.button-btn{
    padding: 5px;
    font-size: larger;
    text-align: center;
    text-transform: uppercase;
    
}
.decision-container{
    float: left;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid burlywood;
    width: 500px;
    
}
.decision-dropdown{
    text-transform: uppercase;
}
.decision-btn{
    /* text-transform: uppercase; */
}
.risk-dropdown{
    height: 50px;
    width: 150px;
    text-align: center;

}
.submit{
    bottom: 2px;
}
.sumbit-btn{
    padding: 10px 70px;
}